.main{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    box-sizing: border-box;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex ;
    flex-direction: column ;
    width: 250px;
    height: 350px;
    border: 1px solid ;
    overflow:hidden;
    border-radius: 10px !important;
}
.card-content{
    padding: 10px;
}
img{
    display:inline-block;
    max-width: 100%;
    height:200px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}